<o-form-layout-manager attr="MaintenanceLog" mode="tab" title="MAINTENANCELOG">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="MaintenanceLogTable" 
            service="MaintenanceLog" 
            entity="MaintenanceLog" 
            title="MAINTENANCELOG"
            keys="id"
            columns="id;trailer_id;activity_detail;status;date_scheduled" 
            header-actions="R;D"
            visible-columns="id;trailer_id;activity_detail;status;date_scheduled"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="trailer_id" title="trailer_id">
    <o-table-cell-renderer-service attr="trailer_id" 
        service="Trailer" entity="TrailerType" columns="id;id"
        parent-keys="id:trailer_id"
        value-column="id" keys="trailer_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #activity_detail attr="activity_detail" title="activity_detail" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #date_scheduled attr="date_scheduled" title="date_scheduled" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>