<o-form-layout-manager attr="Inspection" mode="tab" title="INSPECTION">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="InspectionTable" 
            service="Inspection" 
            entity="Inspection" 
            title="INSPECTION"
            keys="id"
            columns="inspector_name;trailer_id;findings;id;date_performed;passed" 
            header-actions="R;D"
            visible-columns="inspector_name;trailer_id;findings;id;date_performed;passed"  
            sort-columns="inspector_name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #inspector_name attr="inspector_name" title=" inspector_name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="trailer_id" title="trailer_id">
    <o-table-cell-renderer-service attr="trailer_id" 
        service="Trailer" entity="TrailerType" columns="id;id"
        parent-keys="id:trailer_id"
        value-column="id" keys="trailer_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #findings attr="findings" title="findings" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #date_performed attr="date_performed" title="date_performed" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #passed attr="passed" title="passed" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>